//客製化變數表
$primary: rgb(247, 181, 81);
$secondary: rgba(255, 136, 0, 0.856);
// $success: green;
// $info: cyan;
// $warning: yellow;
// $danger: red;
$light: rgba(250, 239, 193, 0.747);
$dark: black;

$carousel-control-color: rgb(247, 181, 81);
$carousel-indicator-active-bg: rgb(247, 181, 81);